<section>
  <fieldset>
    <legend>Video Encoding</legend>
    <div>
      <label for="codecSelect">Codec</label>
      <select id="codecSelect" #codecSelect [(ngModel)]="codec">
        @for (availableCodec of availableCodecs; track availableCodec) {
          <option>{{availableCodec}}</option>
        }
      </select>
    </div>
    <div>
      <label for="qualityRange">Quality {{quality}}</label>
      <input id="qualityRange" #qualityRange type="range" [min]="minQuality" [max]="maxQuality" [(ngModel)]="quality"/>
    </div>
  </fieldset>
</section>
