<section class="clips-section" formArrayName="clips">
  <fieldset>
    <legend>Clips</legend>
    <button type="button" (click)="onCreateClipClick()">Create Clip</button>
    @if (clips.hasError('required')) {
      <div>Requires at least one clip.</div>
    }
    <div class="clips">
      @for (clip of clips.controls; track clip.get('id')!.value) {
        <section class="clip" [formGroupName]="$index">
          <fieldset>
            <legend>Clip {{ $index + 1 }}</legend>
            <div>
              <button type="button" (click)="onSelectSourceVideoFileClick($index)">Select Source Video File</button>
              <input type="text" formControlName="sourceVideoFile"/>
              @if (clip.get('sourceVideoFile')!.hasError('pathDoesNotExist')) {
                <div class="errortext">Path does not exist</div>
              } @else if (clip.get('sourceVideoFile')!.hasError('isNotFile')) {
                <div class="errortext">Not a file</div>
              } @else if (clip.get('sourceVideoFile')!.hasError('required')) {
                <div class="errortext">Required</div>
              }
            </div>
            <div>
              <label for="startTimeText">Start Time</label>
              <input id="startTimeText" type="text" formControlName="startTime"/>
              @if (clip.get('startTime')!.hasError('invalidTimeFormat')) {
                <div class="errortext">Invalid time format</div>
              }
            </div>
            <div>
              <label for="endTimeText">End Time</label>
              <input id="endTimeText" type="text" formControlName="endTime"/>
              @if (clip.get('endTime')!.hasError('invalidTimeFormat')) {
                <div class="errortext">Invalid time format</div>
              }
            </div>
            @if (clip.hasError('endTimeMustBeGreaterThanStartTime')) {
              <div class="errortext">End time must be greater than start time</div>
            }
            <button type="button" (click)="onDeleteClipClick($index)">Delete</button>
          </fieldset>
        </section>
      }
    </div>
  </fieldset>
</section>
