fieldset {
  display: flex;
  flex-flow: column;
  gap: 0.5em;
}

div {
  display: flex;
  align-items: center;
}

div > button {
  margin-right: 0.5em;
}

label {
  width: 5em;
}

label + * {
  flex: 1;
}


