<section>
  <fieldset>
    <legend>Clip {{index + 1}}</legend>
    <div>
      <button type="button" (click)="onSelectSourceVideoFileClick()">Select Source Video File</button>
      <span>{{sourceVideoFile}}</span>
    </div>
    <div>
      <label for="startTimeText">Start Time</label>
      <input id="startTimeText" #startTimeText type="text" (input)="onStartTimeTextChange(startTimeText.value)"/>
    </div>
    <div>
      <label for="endTimeText">End Time</label>
      <input id="endTimeText" #endTimeText type="text" (input)="onEndTimeTextChange(endTimeText.value)"/>
    </div>
    <button type="button" (click)="onDeleteClipClick()">Delete</button>
  </fieldset>
</section>
